external-endpoint = "localhost:6965"
internal-endpoint = "localhost:6967"
trillian-rpc-server = "localhost:6962"
url-prefix = ""
backend = "trillian"
trillian-tree-id-file = "/var/lib/sigsum-log/tree-id"
timeout = "10s"
key-file = ""
interval = "10s"
log-file = ""
log-level = "info"

[primary]
policy-file = ""
max-range = 10
rate-limit-file = ""
allow-test-domain = false
secondary-url = ""
secondary-pubkey-file = ""
sth-file = "/var/lib/sigsum-log/sth"

[secondary]
primary-url = ""
