#!/bin/bash

#
# Setup instructions:
#
#   - Use `sigsum-debug keygen` to get a private key
#   - Set a domain hint that starts with "_sigsum_v0."
#   - Configure domain hint to be aware of the output of the appropriate
#     key hash.  See `sigsum-debug pubkey` and `sigsum-debug keyhash`.
#

cli_priv=97cacf277d874e4b4b626a3f6663c5fd1995c64b2f07e952ad988061fa66db411da859316863410010ba487a098a4b45d7862a7c89235d0350b6b6d21f182576
cli_domain_hint=_sigsum_v0.lntest.sigsum.org
