#!/bin/bash

#
# Setup instructions:
#
#   - Use `sigsum-debug keygen` to get a private key
#   - Set a domain hint that starts with "_sigsum_v0."
#   - Configure domain hint to be aware of the output of the appropriate
#     key hash.  See `sigsum-debug pubkey` and `sigsum-debug keyhash`.
#

cli_priv=
cli_domain_hint=
cli_priv=29599fd81e266e161a9df977044dda89ab72fe9c8a98f23026f7fb63ee2feed9cda2517e17dcba133eb0e71bf77473f94a77d7e61b1de4e1e64adfd0938d6182
cli_domain_hint=_sigsum_v0.testonly.rgdd.se
