#!/bin/bash

#
# Setup instructions:
#
#   - Use `sigsum-debug keygen` to get a private key
#   - Set a domain hint that starts with "_sigsum_v0."
#   - Configure domain hint to be aware of the output of the appropriate
#     key hash.  See `sigsum-debug pubkey` and `sigsum-debug keyhash`.
#

cli_priv=
cli_domain_hint=
